#macOS
*.DS_Store
Icon?

#GIT
*.orig
*.patch

#IDEs
.com.greenworldsoft.syncfolderspro
venv
.vscode
.netbeans.xml
.idea
.gradle

#General
.dropbox
.Trash-*
.trash
*.log
*.zip
*.gz
*.tar.gz

#App
**/config.py
**/loader.sh
**/config.php